
@{
    ViewBag.Title = "CategoryChosen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CategoryChosen</h2>

<div>
    <h1>Employee (ViewBag Data Example)</h1>
    <div>
        <b>Catgory Chosen:</b> @ViewBag.messageString<br />
        
    </div>
</div>


