@{
    ViewBag.Title = "Home Page";
  
        ViewBag.Title = "Current Queue";
        Layout = "~/Views/Shared/_WelcomeLayout.cshtml";
   

}

<div class="jumbotron">
    <h1>WELCOME</h1>
    <p class="lead">N-Queue is a queueing system designed for County Councils. </p>
   
   <p> <input type="button" title="Enter" value="Enter" 
           onclick="location.href=
           '@Url.Action("Index","QueueItems")'" /></p>
</div>


   
